@import "./_general";
.navbar {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  padding-top: 26px;
  align-items: center;
  &__toggler-hamburger {
    border: none;
    display: none;
    background: none;
  }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    &-list {
      max-width: 475px;
      width: 100%;
      display: flex;
      gap: 16px;
      margin-left: 36px;
      justify-content: space-between;
      list-style: none;
      &-items {
        position: relative;
        display: block;
        max-width: 169px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 10px;
        & > img {
          vertical-align: middle;
        }
        &-link {
          display: inline-block;
          margin-right: 5px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
        }
        &-collapse-dropdown-1 {
          position: absolute;
          visibility: hidden;
          top: 48px;
          transition: 0.3s all linear;
          left: 5px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          z-index: 1000;
          &-list {
            list-style: none;
            display: flex;
            padding: 20px 15px;
            flex-direction: column;
            row-gap: 20px;
            &-items {
              &-link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #299764;
                }
              }
            }
          }
        }
        &-collapse-dropdown-2 {
          visibility: hidden;
          position: absolute;
          z-index: 1000;
          top: 48px;
          transition: 0.3s all linear;
          left: 5px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          &-list {
            list-style: none;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            &-items {
              &-link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #299764;
                }
              }
            }
          }
        }
      }
    }
    &-login-data {
      display: flex;
      max-width: 388px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      &-mode {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        cursor: pointer;
      }
      &-login {
        display: flex;
        align-items: center;
        border: none;
        justify-content: space-evenly;
        max-width: 142px;
        width: 100%;
        height: 58px;
        background: #299764;
        border-radius: 100px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }
      &-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fcfcfc;
        text-decoration: none;
      }
    }
  }
}
.mobile-menu {
  position: absolute;
  max-width: 475px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.9s all ease;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 300;
  right: -475px;
  background: #535050;;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px;
    &-close {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #f5f5f5;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__body {
    padding: 33px;
    &-category {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
    }
    &-about {
      margin-top: 52px;
      margin-bottom: 25px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
    }
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      &-items {
        &-links {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
    &-help {
      margin-top: 52px;
      margin-bottom: 22px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
    }
  }
  &__footer {
    max-width: 475px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 58px 30px;
    width: 100%;
    &-tel {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      text-decoration: none;
    }
    &-login-block {
      max-width: 216px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &-mode {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border-radius: 50%;
        border: none;
      }
      &-login {
        max-width: 132px;
        height: 50px;
        width: 100%;
        background: #299764;
        border-radius: 100px;
        border: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }
    }
  }
}
.mobile-active {
  visibility: visible;
  right: 0;
}
.active-1 {
  position: absolute;
  max-width: 147px;
  width: 100%;
  height: 187px;
  left: 0;
  top: 55px;
  visibility: visible;
  transition: 0.9s all ease;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.active-2 {
  position: absolute;
  width: 100%;
  height: 136px;
  max-width: 168px;
  top: 55px;
  left: 0;
  visibility: visible;
  transition: 0.9s all ease;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.box-active-dark {
  background: #fff;
  border-radius: 100px;
}
.section-cars {
  position: relative;
  .input-data {
    position: absolute;
    max-width: 600px;
    width: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    &__form {
      position: relative;
      &-input {
        width: 100%;
        height: 66px;
        border: none;
        display: block;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        padding: 22px 0px 22px 30px;
        font-size: 18px;
        background: #ffffff;
        border-radius: 100px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #555555;
        }
      }
      &-btn {
        width: 58px;
        height: 58px;
        display: flex;
        top: 50%;
        right: -3%;
        transform: translate(-50%, -50%);
        position: absolute;
        align-items: center;
        justify-content: center;
        border: none;
        background: #299764;
        border-radius: 100px;
      }
    }
  }
  &__car-block {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
      max-width: 575px;
      width: 100%;
      &-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #ffffff;
      }
      &-subtitle {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
      }
    }
    &-body {
      margin-top: 40px;
      margin-bottom: 24px;
      &-top {
        max-width: 513px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
        &-btns {
          width: 170px;
          height: 58px;
          display: block;
          background: #1c1c1c;
          border: 1.5px solid #333333;
          border-radius: 100px;
          border-radius: 100px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #ffffff;
          cursor: pointer;
        }
      }
      &-bottom {
        &-cars {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          &-items {
            background: #272727;
            border-radius: 16px;
            padding-left: 24px;
            padding-top: 30px;
            padding-bottom: 30px;
            transition: 0.6s all ease;
            &-info-img {
              filter: invert(1);
            }
            &:hover {
              background: #299764;
            }
            &:hover .section-cars__car-block-body-bottom-cars-items-title {
              color: #ffffff;
            }
            &:hover .section-cars__car-block-body-bottom-cars-items-subtitle {
              color: #ffffff;
            }
            &:hover
              .section-cars__car-block-body-bottom-cars-items-info-left-block-title {
              color: #ffffff;
            }
            &:hover
              .section-cars__car-block-body-bottom-cars-items-info-right-block-title {
              color: #ffffff;
            }
            &:hover .section-cars__car-block-body-bottom-cars-items-info-img {
              filter: invert(1);
            }
            &-title {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 29px;
              color: #ffffff;
            }
            &-subtitle {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;
            }
            &-img {
              & > img {
                max-width: 100%;
                height: auto;
              }
            }
            &-info {
              display: flex;
              align-items: center;
              column-gap: 53px;
              &-left {
                &-block {
                  display: flex;
                  column-gap: 13px;
                  margin-bottom: 24px;
                  &-title {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ffffff;
                  }
                }
              }
              &-right {
                &-block {
                  display: flex;
                  column-gap: 13px;
                  margin-bottom: 24px;
                  &-title {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.spinner {
  position: absolute;
  left: 47%;
  right: 50%;
  top: 100%;
  display: none;
  z-index: 500;
  transform: translate(-50%,-50%);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.category-active {
  background: #299764;
  color: #ffffff;
}
@media (max-width: 1046px) {
  .navbar {
    &__nav {
      &-list {
        &-items {
          &-box-zero {
            &-link {
              font-size: 15px;
            }
          }
          &-box-one {
            &-link {
              font-size: 15px;
            }
          }
          &-box-two {
            padding: 10px 10px;
            &-link {
              font-size: 15px;
            }
          }
          &-collapse-dropdown-1 {
            &-list {
              padding: 20px 20px;
              &-items {
                &-link {
                  font-size: 15px;
                  &:hover {
                    color: #299764;
                  }
                }
              }
            }
          }
          &-collapse-dropdown-2 {
            &-list {
              padding: 20px 20px;
              &-items {
                &-link {
                  font-size: 15px;
                  &:hover {
                    color: #299764;
                  }
                }
              }
            }
          }
        }
      }
      &-login-data {
        justify-content: space-evenly;
        &-mode {
          width: 50px;
          height: 50px;
        }
        &-login {
          max-width: 120px;
          width: 100%;
          height: 58px;
          font-size: 15px;
        }
        &-title {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 995px) {
  .navbar {
    justify-content: space-between;
    border-bottom: 1.5px solid #e5e7ea;
    &__toggler-hamburger {
      display: block;
    }
    &__nav {
      display: none;
    }
  }
}
@media (max-width: 997px) {
  .section-cars {
    &__car-block {
      &-body {
        &-bottom {
          &-cars {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &-items {
              &-title {
                font-size: 24px;
              }
              &-subtitle {
                font-size: 16px;
              }
              &-info {
                display: flex;
                column-gap: 35px;
                &-left {
                  &-block {
                    column-gap: 5px;
                    &-title {
                      font-size: 15px;
                    }
                  }
                }
                &-right {
                  &-block {
                    display: flex;
                    column-gap: 5px;
                    &-title {
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 580px){
  .section-cars {
    &__car-block {
      &-body {
        &-top{
          max-width: 350px;
        }
        &-bottom {
          &-cars {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            &-items{
              &-info {
                display: flex;
                align-items: center;
                column-gap: 98px;
                &-left {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 20px;
                      line-height: 20px;
                      color: #000000;
                    }
                  }
                }
                &-right {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .section-cars {
    .input-data {
      top: 20px;
      &__form-input {
        &::placeholder {
          font-size: 15px;
        }
      }
      &__form-btn {
        right: -5%;
      }
    }
  }
}
@media (max-width: 428px){
  .section-cars {
    &__car-block {
      &-body {
        &-top{
          max-width: 350px;
        }
        &-bottom {
          &-cars {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            &-items{
              &-info {
                display: flex;
                align-items: center;
                column-gap: 66px;
                &-left {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 20px;
                      color: #ffffff;
                    }
                  }
                }
                &-right {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 380px){
  .section-cars {
    &__car-block {
      &-body {
        &-top{
          max-width: 300px;
        }
        &-bottom {
          &-cars {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            &-items{
              &-info {
                display: flex;
                align-items: center;
                column-gap: 40px;
                &-left {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 20px;
                      line-height: 20px;
                      color: #ffffff;
                    }
                  }
                }
                &-right {
                  &-block {
                    display: flex;
                    column-gap: 13px;
                    margin-bottom: 24px;
                    &-title {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
