@import "./_general";
.navbar {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  padding-top: 26px;
  align-items: center;
  &__toggler-hamburger {
    border: none;
    display: none;
    background: none;
  }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    &-list {
      max-width: 475px;
      width: 100%;
      display: flex;
      gap: 16px;
      margin-left: 36px;
      justify-content: space-between;
      list-style: none;
      &-items {
        position: relative;
        display: block;
        max-width: 169px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 10px;
        & > img {
          vertical-align: middle;
        }
        &-link {
          display: inline-block;
          margin-right: 5px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
        }
        &-collapse-dropdown-1 {
          position: absolute;
          visibility: hidden;
          top: 48px;
          transition: 0.3s all linear;
          left: 5px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          z-index: 1000;
          &-list {
            list-style: none;
            display: flex;
            padding: 20px 15px;
            flex-direction: column;
            row-gap: 20px;
            &-items {
              &-link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #299764;
                }
              }
            }
          }
        }
        &-collapse-dropdown-2 {
          visibility: hidden;
          position: absolute;
          z-index: 1000;
          top: 48px;
          transition: 0.3s all linear;
          left: 5px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          &-list {
            list-style: none;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            &-items {
              &-link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-decoration: none;
                &:hover {
                  color: #299764;
                }
              }
            }
          }
        }
      }
    }
    &-login-data {
      display: flex;
      max-width: 388px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      &-mode {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        cursor: pointer;
      }
      &-login {
        display: flex;
        align-items: center;
        border: none;
        justify-content: space-evenly;
        max-width: 142px;
        width: 100%;
        height: 58px;
        background: #299764;
        border-radius: 100px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }
      &-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fcfcfc;
        text-decoration: none;
      }
    }
  }
}
.active-1 {
  position: absolute;
  max-width: 147px;
  width: 100%;
  height: 187px;
  left: 0;
  top: 55px;
  visibility: visible;
  transition: 0.9s all ease;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.active-2 {
  position: absolute;
  width: 100%;
  height: 136px;
  max-width: 168px;
  top: 55px;
  left: 0;
  visibility: visible;
  transition: 0.9s all ease;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.box-active-dark {
  background: #fff;
  border-radius: 100px;
}
@media (max-width: 1046px) {
  .navbar {
    &__nav {
      &-list {
        &-items {
          &-box-zero {
            &-link {
              font-size: 15px;
            }
          }
          &-box-one {
            &-link {
              font-size: 15px;
            }
          }
          &-box-two {
            padding: 10px 10px;
            &-link {
              font-size: 15px;
            }
          }
          &-collapse-dropdown-1 {
            &-list {
              padding: 20px 20px;
              &-items {
                &-link {
                  font-size: 15px;
                  &:hover {
                    color: #299764;
                  }
                }
              }
            }
          }
          &-collapse-dropdown-2 {
            &-list {
              padding: 20px 20px;
              &-items {
                &-link {
                  font-size: 15px;
                  &:hover {
                    color: #299764;
                  }
                }
              }
            }
          }
        }
      }
      &-login-data {
        justify-content: space-evenly;
        &-mode {
          width: 50px;
          height: 50px;
        }
        &-login {
          max-width: 120px;
          width: 100%;
          height: 58px;
          font-size: 15px;
        }
        &-title {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 995px) {
  .navbar {
    justify-content: space-between;
    border-bottom: 1.5px solid #e5e7ea;
    &__toggler-hamburger {
      display: block;
    }
    &__nav {
      display: none;
    }
  }
}
